#navigationBar {
  width: 100%;
  background-color: RGBA(192, 179, 177, 0.5);
  margin: 0;
  padding: 0.3%;
  text-align: center;
}

.navButton {
  color: white;
  background: 0;
  border: 0;
  font-size: 1em;
  padding-left: 2em;
}

h1,
h3,
nav,
footer {
  font-family: Helvetica, Arial, sans-serif;
}

.pickContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 1.5em;
  background: lightgrey;
  outline: none;
  border-radius: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: rgb(47, 91, 185);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background: rgb(47, 91, 185);
  cursor: pointer;
}

#pageImage {
  max-width: 45%;
}

img {
  max-width: 80%;
}

#pickTrail {
  max-width: 45%;
  padding: 1rem;
  background-color: #e9f4fd;
  margin-right: 2%;
}

#usefulLinks {
  text-align: center;
  padding: 1rem;
}

footer {
  text-align: center;
  width: 100%;
  padding: 5%;
}
