h1,
h2,
h3,
nav {
  font-family: Helvetica, Arial, sans-serif;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#createAccount {
  background-color: white;
  opacity: 90%;
  width: 50%;
  margin: auto;
}

#login {
  background-color: white;
  opacity: 90%;
  width: 50%;
  margin: auto;
}

input,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
