h2,
nav {
  font-family: Helvetica, Arial, sans-serif;
}

#navigationBar {
  width: 100%;
  padding-top: 3%;
  text-align: center;
  padding-bottom: 3%;
}

nav a {
  padding-right: 7%;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.imageContainer {
  width: 100%;
}

img {
  max-width: 100%;
}

#flexContainer {
  display: flex;
}

#createAccount {
  width: 45%;
  margin: auto;
}

#login {
  width: 45%;
  margin-inline: auto;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
}

input,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

footer {
  text-align: center;
  width: 100%;
  padding: 5%;
}
