.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#about {
  padding: 1rem;
  background-color: white;
  opacity: 0.9;
  width: 45%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}

#pickTrail {
  padding: 1rem;
  background-color: white;
  opacity: 0.9;
}

h1,
h2,
h3,
nav,
footer {
  font-family: Helvetica, Arial, sans-serif;
}

p,
label {
  font-family: Georgia, "Times New Roman", Times, serif;
}
