body {
  background-color: #e9f1fa;
}

.title {
  max-width: 1200px;
  background-image: linear-gradient(to right, white, #e9f1fa);
  margin: auto;
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 25px;
}

#about {
  padding: 1rem;
  width: 44%;
}

#coverImage {
  padding: 1rem;
}

img {
  padding: 5px;
  width: 350px;
}

.pickContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: white;
  max-width: 1200px;
  margin: auto;
}

#pickTrail {
  padding: 1rem;
  background-color: white;
}

h1,
h2,
h3,
nav,
footer {
  font-family: Helvetica, Arial, sans-serif;
}

p,
label {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#usefulLinks {
  text-align: center;
  padding: 1rem;
}

footer {
  text-align: center;
}
