html {
  background: url(./theNarrows.jpg) no-repeat center center fixed;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
}

h1,
nav,
footer {
  font-family: Helvetica, Arial, sans-serif;
}

nav a {
  padding-right: 7%;
  font-size: larger;
  color: white;
  text-decoration: none;
}

nav a.active {
  color: grey;
}

a:hover {
  color: blue;
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

#navigationBar {
  width: 100%;
  padding-top: 3%;
  text-align: center;
}

#getStarted {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 9%;
  padding-left: 12%;
}

#getStarted a {
  color: white;
  font-size: larger;
  text-decoration: none;
}

#getStarted a:hover {
  color: lightblue;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: auto;
  color: white;
}

hr {
  border: 1px solid white;
}
