.title {
  max-width: 1200px;
  background-image: linear-gradient(to right, white, #e9f1fa);
  margin: auto;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

body {
  background-image: url("theNarrows.jpg");
}

#recordTrails {
  width: 45%;
  padding: 1rem;
  background-color: white;
  opacity: 0.9;
}

#trailDiary {
  width: 45%;
  padding: 1rem;
  background-color: white;
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
nav {
  font-family: Helvetica, Arial, sans-serif;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
}
