#navigationBar {
  width: 100%;
  padding-top: 3%;
  text-align: center;
  padding-bottom: 3%;
}

nav a {
  padding-right: 7%;
  font-size: larger;
  text-decoration: none;
  color: black;
}

nav a.active {
  color: grey;
}

a:hover {
  color: blue;
}

h1,
h2,
h3,
h4,
nav {
  font-family: Helvetica, Arial, sans-serif;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.topContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.headerImage {
  max-width: 25%;
  margin: auto;
}

img {
  max-width: 100%;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1200px;
  margin: auto;
  background-color: #e9f4fd;
}

#recordTrails {
  width: 45%;
  padding: 1rem;
  margin: auto;
  background-color: #e9f4fd;
}

#trailDiary {
  width: 45%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9f4fd;
}

footer {
  text-align: center;
  width: 100%;
  padding: 5%;
}
